@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background: transparent !important;
}

html, body {
	background: transparent !important;
}

main {
	color: white;
	background: rgba(0, 0, 0, 0);
}
